<div class="border border-green-900 p-5 mx-5 mb-5 h-full">
    <div class="grid grid-cols-6 gap-2 w-full">
        <div class="col-span-4">
            <span class="text-xl text-green-900">Indikator: {{indicator?.title}} - {{yearStream$ | async}}</span>
            <div>Bedeutung: {{indicator?.description}}</div>
        </div>
        <div class="border border-green-900 col-span-2 text-center">
            <span class="text-xl text-green-900">Zusätzliche Grafik je Indikator</span>
        </div>
    </div>
</div>