:host {
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    @apply bg-gray-400;
}

.btn{
    @apply bg-white
}
.btn-active{
    @apply bg-gray-400
}
