:host {
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

main .map-container {
    @apply border-green-700 border border-solid;

}

main .btn {
    @apply bg-white p-2
}

main .btn-active {
    @apply text-2xl
}