<header>
  <div class="container text-4xl text-center py-10">Regio Context - Text Case</div>
</header>
<main class="m-5">
  <div class="inline-flex" role="group">
    <button class="btn w-full" *ngFor="let map of maps" (click)="changeMap(map)"
      [ngClass]="{'btn-active': map.active, 'btn': !map.active}">{{map.name}}</button>
  </div>
  <div class="h-full flex-grow-1 mt-5">
    <app-map [layerName]="selectedMap"></app-map>
  </div>
</main>
<footer class="align-baseline p-5">
  <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline float-right" href="https://lorenmucha.de"
    target="_blank">@Loren Mucha</a>
</footer>