<!-- FIXME: dynamic map height -->
<div class="h-full">
    <div id="ol-map" class="h-full w-full">
        <app-legende></app-legende>
        <indicator-dialog></indicator-dialog>
    </div>
    <div id="popup" class="ol-popup" [hidden]="!popUpIsVisible">
        <a href="#" id="popup-closer" class="ol-popup-closer" (click)="closePopUp()"></a>
        <div id="popup-content" [innerHTML]="popUpContent"></div>
        <div (click)="openIndicatorDialog()"><fa-icon [icon]="faChartLine"></fa-icon></div>
    </div>
</div>